*.pyc
    __pycache__/
    *.py[cod]
    *$py.class
    venv/
    env/
    *.log
    *.sqlite3
    media/
    staticfiles/
    .idea/
    *.swp
    *~
    .DS_Store
    .envfrontend/node_modules/
.expo/
last-token.txt
*.pyc
__pycache__/
